[submodule "libs/EvoVulkan"]
	path = libs/EvoVulkan
	url = https://github.com/Monika0000/EvoVulkan
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/SpaRcle-Studio/freetype
[submodule "libs/harfbuzz"]
	path = libs/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/Monika0000/imgui
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/SpaRcle-Studio/glfw
[submodule "libs/yoga"]
	path = libs/yoga
	url = https://github.com/SpaRcle-Studio/yoga
